<!--    create index page-->
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">

</head>

<body onload="load()">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Welcome to the Home Page</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p>
                    This is the home page of the website.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p>Login
                </p>
            </div>
        </div>
    </div>
    <script src="/static/js/index.js"></script>
</body>

</html>