<!--    create index page-->
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">

</head>

<body onload="load()">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Welcome to the Home Page</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p>
                    This is the home page of the website.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <fieldset>
                    <legend for="db_host">Database host name</legend>
                    <input type="text" id="db_host" name="db_host" value="localhost" />
                    <legend for="db_user">Database user name</legend>
                    <input type="text" id="db_user" name="db_user" value="root" />
                    <legend for="db_pass">Database password</legend>
                    <input type="text" id="db_pass" name="db_pass" value="root" />
                    <legend for="db_name">Database name</legend>
                    <input type="text" id="db_name" name="db_name" value="sys" />
                    <button type="button" id="connect" onclick="connect()">Connect</button>
                </fieldset>
            </div>
        </div>
    </div>
    <script src="/static/js/index.js"></script>
</body>

</html>